@model LoKMais.Models.Entities.Veiculo

@{
    ViewData["Title"] = "Detalhes";
}
<div class="container mt-3">
    <div class="card" style="width: 58rem;">
        <div class="card-header bg-info"></div>
        <img class="card-img-top" src="/Home/AbrirArquivo?veiculoId=@Html.DisplayFor(model => model.Id)" alt="Imagem carro">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row ">
                        <div class="col-md-6 font-italic font-weight-bold">
                           @Html.DisplayNameFor(model => model.Modelo):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Modelo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.Marca):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Marca)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.Categoria):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Categoria)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.Placa):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Placa)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.Ano):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Ano)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.TipoCombustivel):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.TipoCombustivel)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.Cor):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Cor)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 font-italic font-weight-bold">
                            @Html.DisplayNameFor(model => model.Descricao):
                        </div>
                        <div class="col-md-6">
                            @Html.DisplayFor(model => model.Descricao)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md">
                            <label asp-for="DataInicio">Data Inicio</label>
                            <input asp-for="DataInicio" type="date" class="form-control" />
                            <span asp-validation-for="DataInicio"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label asp-for="DataFinal">Data Final</label>
                            <input asp-for="DataFinal" type="date" class="form-control" />
                            <span asp-validation-for="DataFinal"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="#" class="btn btn-success px-5 col">Aluguar</a>
            </div>
        </div>
    </div>
</div>
