@model IEnumerable<LoKMais.Models.Entities.Veiculo>

@{
    ViewData["Title"] = "Detalhes";
}


<div class="card my-4">
    <div class="card-header text-center bg-info">
        <h2 class="text-white font-italic">Lista de veiculos</h2>
    </div>
    <div class="col-md-1">
        <a asp-controller="Home" asp-action="Index"><i class="fa fa-arrow-circle-left fa-2x text-info"></i></a>
    </div>
    <div class="row justify-content-around align-items-center">
        <span class="font-italic">Clique em "Novo usuário" para inserir um novo veículo a lista</span>
        <a asp-controller="Veiculo" asp-action="AdicionarVeiculo" class="btn btn-primary m-3">Novo veiculo <i class="fa fa-car fa-1x"></i></a>
    </div>
    <table class="table  table-borderless border table-striped text-center">
        <thead>
            <tr class="row m-0 text-black-50">
                <th class="col-md-1">Modelo</th>
                <th class="col-md-1">Marca</th>
                <th class="col-md-1">Categoria</th>
                <th class="col-md-1">Placa</th>
                <th class="col-md-1">Ano</th>
                <th class="col-md-2">Combustivel</th>
                <th class="col-md-1">Cor</th>
                <th class="col-md-2">Descricao</th>
                <th class="col-md-2">Acões</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr class="row m-0 align-items-center">
                    <td class="col-md">
                        <h5 class="text-black-50 font-italic">Não há veiculos cadastrados</h5>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var veiculo in Model)
                {
                    <tr class="row m-0 align-items-center">
                        <td class="col-md-1">@veiculo.Modelo</td>
                        <td class="col-md-1">@veiculo.Marca</td>
                        <td class="col-md-1">@veiculo.Categoria</td>
                        <td class="col-md-1">@veiculo.Placa</td>
                        <td class="col-md-1">@Html.DisplayFor(modelveiculo => veiculo.Ano)</td>
                        <td class="col-md-2">@veiculo.TipoCombustivel</td>
                        <td class="col-md-1">@veiculo.Cor</td>
                        <td class="col-md-2">@veiculo.Descricao</td>
                        <td class="col-md-2">
                            <a asp-action="Editar" asp-controller="Veiculo" asp-route-id="@veiculo.Id" class="btn btn-info">Editar <i class="fa fa-edit fa-1"></i></a>
                            <a asp-action="Deletar" asp-controller="Veiculo" asp-route-id="@veiculo.Id" class="btn btn-danger">Deletar <i class="fa fa-trash fa-1"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
