@model IEnumerable<LoKMais.Models.Cliente>
@{
    ViewData["Title"] = "Lista de Usuarios";
}
<div class="container my-4">
    <div class="card">
        <div class="card-header text-center bg-info">
            <h2 class="text-white font-italic">Lista de usuários</h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-around align-items-center">
                <span class="font-italic">Clique em "Novo usuário" para inserir um novo usuário a lista</span>
                <a asp-action="CriarUsuario" class="btn btn-primary m-3">Novo usuário <i class="fa fa-user-plus fa-1x"></i></a>
            </div>
            <table class="table table-borderless border table-striped text-center">
                <thead>
                    <tr class="row m-0 text-black-50">
                        <th class="col-md-3">Nome Completo</th>
                        <th class="col-md-3">CPF</th>
                        <th class="col-md-3">E-mail</th>
                        <th class="col-md-3">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr class="row m-0 align-items-center">
                            <td class="col-md-3">
                                @usuario.NomeCompleto
                            </td>
                            <td class="col-md-3">
                                @(new CPF(usuario.UserName).ComFormatacao())
                            </td>
                            <td class="col-md-3">
                                @usuario.Email
                            </td>
                            <td class="col-md-3">
                                <a asp-controller="Autenticador" asp-action="AlterarSenha" asp-route-cpf="@usuario.UserName" class="btn btn-info">Editar <i class="fa fa-edit fa-1"></i></a>
                                <a asp-controller="Autenticador" asp-action="AlterarSenha" asp-route-cpf="@usuario.UserName" class="btn btn-danger">Deletar <i class="fa fa-trash fa-1"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
